@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,600,600italic,700,700italic);
body {
		font-family: 'Roboto';
		background-color: #f8f4f4;
  	padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.container{
	height:500px;
	width:580px;
	padding:0;
	margin:10px;
	border-radius:5px;
	box-shadow: 0 2px 3px rgba(83, 74, 74, 0.3)
	
}

header {
		position: relative;
}

.hide {
		display: none;
}

.tab-content {
		padding:25px;
}

#material-tabs {
		position: relative;
		display: block;
	  padding:0;
		border-bottom: 1px solid #e0e0e0;
}

#material-tabs>a {
		position: relative;
	 display:inline-block;
		text-decoration: none;
		padding: 22px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		color: #424f5a;
		text-align: center;
		outline:;
}

#material-tabs>a.active {
		font-weight: 700;
		outline:none;
}

#material-tabs>a:not(.active):hover {
		background-color: inherit;
		color: #77828a;
}

@media only screen and (max-width: 520px) {
		.nav-tabs#material-tabs>li>a {
				font-size: 11px;
		}
}

.yellow-bar {
		position: absolute;
		z-index: 10;
		bottom: 0;
		height: 3px;
		background: #3c75d1;
		display: block;
		left: 0;
		transition: left .2s ease;
		-webkit-transition: left .2s ease;
}

#tab1-tab.active ~ span.yellow-bar {
		left: 0;
		width: 160px;
}

#tab2-tab.active ~ span.yellow-bar {
		left:165px;
		width: 82px;
}

#tab3-tab.active ~ span.yellow-bar {
		left: 253px;
		width: 135px;
}

#tab4-tab.active ~ span.yellow-bar {
		left:392px;
		width: 163px;
}



/*--- Css For application logic --- */
div#add-note-wrapper, div#search-form-wrapper{
	display: none;
}